*{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: none;
}
.layout {
    display: grid;
    grid-template-columns: 200px 1fr; 
    grid-template-rows: 60px 1fr;    
    height: 100vh;
}
.side-bar {
    grid-row: 1 / span 2; 
    grid-column: 1;
    background: #f4f4f4;
    display: flex;
    flex-direction: column;
}
.side-bar .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: large;
    border-bottom: 1px solid gray;
}
.side-bar .options{
    height: 78vh;
}
.side-bar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    align-items:start;
}
.side-bar li{
    margin: 10px;
}
.side-bar button{
    height: 35px;
    width: 150px;
    border-radius: 10px;
    transition: 0.8s ease;
}
.side-bar button:hover{
      background: #d4cece;
      border: none;
}
.side-bar .college-info{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    height: 60px;
    background: white;
    border-radius: 5px;
}
.college-info p{
    font-size: 15px;
}
.college-info img{
    height: 20px;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.main {
    margin: 20px;
    grid-column: 2;
    grid-row: 2;
}
.header{
    margin: 10px;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
    height: 50px;
}
.header-left{
    flex: 1;
    display: flex;
    padding: 10px;
}
.header-left ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
}
.header-center{
    flex: 2;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    font-size: larger;
    justify-content: center;
}
.header-right{
    flex: 1;
    display: flex;
    padding: 10px;
}
.header-right ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
button{
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 15px;
     transition: 3s ease-in; 
}
button:hover{
    border-bottom: 1px solid gray;
}
.welcome-msg{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content{
    border: 1px solid rebeccapurple;
}
.summary{
    display: flex;
    justify-content:space-between;
    margin: 20px;
}
.s1,.s2,.s3 ,.s4,.s5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 200px;
    height: 100px;
    border-radius: 5px;
}
.upcoming{
    display: grid;
    height: 150px;
    border: 1px solid gray;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.upcoming img{
    height: 80px;
    width: 100px;
}
.upcoming #title{
    grid-column: span 2;
    height: 10px;
}
.e1,.e2{
    display: flex;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 100px;
    align-items: center;
}

.notices{
    display: grid;
    height: 150px;
    border: 1px solid gray;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.notices img{
    height: 80px;
    width: 100px;
}
.notices #title{
    grid-column: span 3;
    height: 10px;
}
.n1, .n2, .n3{
    display: flex;
    margin: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 100px;
    align-items: center;
}
